<owl-carousel-o [options]="customOptions">
  <ng-container *ngFor="let tecno of technology">
    <ng-template carouselSlide [id]="tecno.id">
      <div class="slide">
        <img class="img" [src]="tecno.urlToImage" >
        <h5>{{tecno.title | slice:1:60}}</h5>
      </div>
    </ng-template>
  </ng-container>
</owl-carousel-o>

<div class="container">
<div class="box-sport-news">
  <div class="row">
    <div class="col-md-12">
    <h1 class="head-text"> {{title}}</h1>
    </div>
    <div class="col-lg-3 col-md-4"  *ngFor="let tecno of technology">
      <div class="box">
        <img [src]="tecno.urlToImage" [alt]="tecno.urlToImage">
      <h5 class="title text-right">{{tecno.title | slice:0:40}}
        <a [href]="tecno.url" target="_blank">المزيد</a>
      </h5>

      <span>{{tecno.publishedAt | slice:0:10}}</span>
      </div>
    </div>
  </div>
</div>
</div>
<a class="home" routerLink="/">
home
<img src="../../assets/img/home-icon.png" alt="" srcset="">

</a>
