<owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let sport of sports">
      <ng-template carouselSlide [id]="sport.id">
        <div class="slide">
          <img class="img" [src]="sport.urlToImage" >
          <h5>{{sport.title | slice:1:60}}</h5>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>

<div class="container">
  <div class="box-sport-news">
    <div class="row">
      <div class="col-md-12">
        <h1 class="head-text"> Welcome To Egypt Sport News</h1>
      </div>
      <div class="col-lg-3 col-md-4"  *ngFor="let spor of sports">
        <div class="box">
          <img [src]="spor.urlToImage" [alt]="spor.urlToImage">
        <h5 class="title text-right">{{spor.title | slice:0:40}}</h5>
        <span>{{spor.publishedAt | slice:0:10}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
