/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.css"; */
main{
  position: relative;
}
.owl-theme .owl-nav{
  display: none !important;
}
.owl-carousel{
  box-shadow:0px 2px 5px rgba(191, 191, 191, 0.5);
}

.owl-carousel.owl-drag .owl-item{
  border: 1px solid #eeeeee6b;
}
