<div class="container">
    <div class="news">
  <div class="row">
    <div class="col-md-12">
    <h1 class="head-text">{{title}}</h1>
    </div>
    <div class="col-md-3">
      <a routerLink="/busines" class="box-news">
        <img src="../assets/img/business.jpg" alt="">
          <h2>business</h2>
      </a>
    </div>
    <div class="col-md-3">
        <a routerLink="/sport" class="box-news">
            <img src="../assets/img/sport.jpg" alt="">
            <h2>sport</h2>
        </a>
      </div>
      <div class="col-md-3">
          <a routerLink="/health" class="box-news">
              <img src="../assets/img/Health.jpg" alt="">
              <h2>Health</h2>
          </a>
        </div>
        <div class="col-md-3">
            <a routerLink="/tecnolgy" class="box-news">
                <img src="../assets/img/technology.jpg" alt="">
                <h2>technology</h2>
            </a>
          </div>

  </div>
</div>
</div>
